/* Main */
body, html {
    background-color: #354057;
}

a {
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    color: #A3A3A3;
}

a:hover {
    color: white;
}

.lk-nav {
    margin-top: 1%;
    margin-right: 2%;
}

/* Device */
@media only screen and (hover: none){
    .lk-title {
        margin-left: 3px;
    }

    .lk-nav {
        margin-top: 4%;
    }
}

/* Table */
.table-color {
    background-color: #2B2E3D;
    color: #A3A3A3;
}

.table-color:hover td {
    color: white;
}

.table-color td, .table-color th, .table-color thead th {
    border-color: #2B2E3D
}

/* Cards */
.container {
    height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 1rem;
}

.card {
    background-color: #2B2E3D;
	height: max-content;
    color: #9F9F9F;
}

.card-text {
    color: #727272;
}

.card, .card-image, .image, img {
    height: 100%;
}